version: "3.8"

services:
  nginx:
    image: nginx
    ports:
      - "8087:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - django_recipe_api
    networks:
      - frontend 

  django_recipe_api:
    build:
      context: .
    env_file: .env
    environment:
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - frontend
      - backend 

  db:
    image: mysql
    env_file: .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3309:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-p${DB_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
    networks:
      - backend

volumes:
  mysql_data:

networks:
  frontend:
  backend: